<% content_for :appointments do %>

<div id="new_appointment" >	
	<div id="appointment_form">
		<%= render :partial=>"appointments/new_appointment_form" %>
	</div>
	<div id="all_appointments">
	    <%= render :partial=>"appointments/appointments_pack" %>
	</div>
</div>
<% end %>

<% content_for :confirmations do %>
<p> Confirmações </p>
<% end %>
