<% content_for :appointments do %>
<div id="new_appointment" >
	<%= render :partial=>"appointments/new_appointment_form" %>
</div>
<% end %>

<% content_for :confirmations do %>
	<p> Confirmações </p>
<% end %>
