<% content_for :appointments do %>
<div style="clear: both;">&nbsp;</div>
<div id="search" >
	<form method="get" action="#">
		<div>
			<input type="text" name="s" id="search-text" value="" />
			<input type="submit" id="search-submit" value="GO" />
		</div>
	</form>
</div>
<% end %>

<% content_for :confirmations do %>

<div style="clear: both;">&nbsp;</div>
<p> Confirmações </p>

<% end %>
