<% content_for :appointments do %>
<div id="new_appointment" >	
	<div id="appointment_form">
		<%= render :partial=>"appointments/new_appointment_form" %>
	</div>

	<div id="all_appointments">
		<table id="appoint_table">
			<tr>
				<th>Cliente</th>
				<th>Data</th>
				<th>Confirmação</th> 
				<!-- <th>Opções</th> -->
			</tr>
			<%= render :partial=>"appointments/appointments_list" %>
		</table>
	</div>
</div>
<% end %>

<% content_for :confirmations do %>
<p> Confirmações </p>
<% end %>
