<% content_for :appointments do %>
<script type="text/javascript">
	$(function() {
		$("#add_button").click(function(){
			$("#appointment_form").show();
			$("#add_button").hide();
		});
	});
</script>
<div id="new_appointment" >
	<a href='#' id="add_button"><%= image_submit_tag("add.png", :class => 'submit') %></a>
	<div id="appointment_form">
		<%= render :partial=>"appointments/new_appointment_form" %>
	</div>
	<div id="all_appointments">
	    <%= render :partial=>"appointments/appointments_pack" %>
	</div>
</div>
<% end %>

<% content_for :confirmations do %>
<p> Confirmações </p>
<% end %>
