
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0E9004;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a {
	text-decoration: none;
	color: #FA4100;
}

table, input {
	border-radius: 4px;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 100px;
	background: #FFFFFFF;
}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
}

/* Logo */

#logo {
	float: left;
	width: 351px;
	margin: 0;
	padding: 0;
	color: #000000;
}
#logo h1 {
	padding: 40p 0px 0px 80px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #FF3000;
}

#logo h1 a {
	color: #FA4100;
}

#logo h1 span {
	color: #333333;
}

/* Menu */

.center{
	margin: 0 auto;
}

#menu {
	height: 0px;
}

#menu ul {
	margin: 10px;
	padding: 50px;
	list-style: none;
	line-height: 4px;
}

#menu li {
	float: left;
	padding: 10px 15px 14px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #999;
	border: none;
}

.sidebar {
	border-top-left-radius: 4px;
	background: #D8DBCD;
}

.content {
	border-top-right-radius: 4px;
	background: #F34600;
}

#content_wrapper {
	text-align: center;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* Content */

#content {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #F34600;
	float: right;
	width: 517px;
	padding: 4px 0px 0px 0px;
	color: #FFF;
	min-height: 400px;
	max-height: 600px;
}

/* Appointment Table */

#new_appointment {
	padding: 10px 0px 0px 0px;
	background: #D8DBCD;
}


#new_appointment input {
	padding: 6px 5px 2px 5px;
	border: 1px solid #CECECE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
	width: 160px;
	margin: 0px 0px 0px 0px;
}

#new_appointment {
	text-align: center;
}

.submit{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border: 0px !important;
	width: 100px !important;
}

#all_appointments {
	font-weight: normal;
}

#appoint_table {
	color: #999;
	margin: 0 auto;
	width: 96%;
	background: #FFF;
}

#appoint_table a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	color: #999;
}

/* Sidebar */

#sidebar {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #D8DBCD;	
	float: left;
	width: 483px;
	padding: 4px 0px 0px 0px;
	color: #999;
	min-height: 400px;
	max-height: 600px;
}

#sidebar a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	color: #FFF;
}

/* Calendar */

#calendar {
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #767676;
}

#footer a {
	text-decoration: none;
	color: #999;
}
