<% content_for :confirmations do %>

Pendências
<table>
<tr>
	<td>
		Dr. Marques
	</td>
	<td>
		14:15
	</td>
	<td>
		Bruno
	</td>
	<td>
		cancelado
	</td>
</tr>
<tr>
	<td>
		Dr. Marques
	</td>
	<td>
		15:00
	</td>
	<td>
		Rolim
	</td>
	<td>
		não respondido
	</td>
</tr>
</table>

<% end %>



