<% unless @appointments.nil? %>
	<% @appointments.each do |appointment| %>
	 <tr>
	    <td><%= appointment.client %></td>
		<td><%= appointment.date.strftime("%d/%m/%Y") %></td>
		<td><%= appointment.status %></td>
	 </tr>
	<% end %>
<% else %>
	<tr>
		<td><center>Não há consultas cadastradas.</center></td>
	</tr>
<% end %>